.avatar {
    margin-top: 10px !important;
    background-color:rgb(255, 252, 252)!important;
    border:2px solid rgb(215, 212, 212);
}
.icon {
    color:#FF4040 !important;
}

#setting {
    width: 100% !important;
    height: 100px !important;
    margin-left: -10px !important;
    font-size: 55px !important;
    padding-top: 7px;

}
#AntIcon {
    color:white !important;
    background-color: #2BCE88 !important;
    padding:12px !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.medium {
    font-size:45px !important;
}