body {
    background-color: lightcyan;
}
h2 {
    color: rgb(246, 15, 104);
    font-size: 30px;
}
.container {
    text-align: center;
}
#myInput {
    width: 600px;
    height: 300px;
    border: 2px solid orchid;
    color: rgb(33, 79, 79);
    font-size: 16px;
    font-weight: bold;
}
#CopyToClipBoard-btn {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    border: 2px solid green;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-top: 15px;
}
#CopyToClipBoard-btn:hover {
    cursor: pointer;
    background: #fff;
    color: orangered;
}